<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PlatziSquare</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" routerLink="/lugares" routerLinkActive="active" >
                <li class="nav-item">Lugares</li>
            </a>
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" >
                <li class="nav-item">
                    Contactenos
                </li>
            </a>

            <a class="nav-link" routerLink="/contactreactive" routerLinkActive="active" >
                <li class="nav-item">
                    Contactenos (Reactive)
                </li>
            </a>
            
        </ul>
    </div>
</nav>

<div class="container central-content">
    <router-outlet></router-outlet>
</div>